
.pollModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .poll_modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .poll_modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .poll_questionNumbers {
    display: flex;
    gap: 10px;
  }
  
  .poll_questionNumber {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .poll_questionNumber.active {
    background-color: #4caf50;
    color: #fff;
  }
  
  .poll_addButton {
    background-color: rgba(150, 150, 150, 1);
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .poll_questionInput {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .poll_optionInput {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .poll_optionType {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .poll_optionType label {
    margin-right: 10px;
  }
  
  .poll_options {
    margin-bottom: 20px;
  }
  
  .poll_removeButton {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .poll_timerType {
    margin-bottom: 20px;
  }
  
  .poll_timerButton {
    width: 80px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .poll_selectedTimer {
    width: 80px;
    background-color: red;
    color: #fff;
  }
  
  .poll_buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .poll_confirmCreateButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .poll_cancelButton {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
